{% extends "base.html" %}

{% block content %}
<div id="content">


<div id="empty"></div>

	<div id="center">
		<div class="pad" style="background:#333333;">
	
			<h2>Software</h2>
			<div align="center">
			<p>
				<ul>
				<li style="display: inline">
					<a target="_blank" href="http://python.org"><img src="http://www.python.org/community/logos/python-powered-w-140x56.png" alt="Powered by Python"></a>
				</li>

				<li style="display: inline">
<a target="_blank" href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a> 
				</li>
				<li style="display: inline">
				<a target="_blank" href="http://postgresql.org"><img height="54" src="http://www.postgresql.org/files/community/propaganda/95x51_4.gif"/></a>
				</li>
				</ul>
			</p>
			</div>




		</div>
	</div>
</div>
{% endblock %}
